@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;100&family=Tilt+Warp&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Tilt+Warp&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/*--------Tipografias------*/
.tilt{
	font-family: 'Tilt Warp', cursive;
}

.roboto{
	font-family: 'Roboto', sans-serif;
}

.fw100{
	font-weight: 100;
}
.fw700{
	font-weight: 700;
}


header{
    display: flex;
    justify-content: space-between;
    width: 100vw;
    padding: 5px;
    
    background-color: #8b14f9;

}
.header__img{
    display: flex;
    margin-inline: 5px;
    width: 30px;
}


body{
    background-image: url('https://garden.spoonflower.com/c/13547352/p/f/m/_663rxKxyw3Ci873I1-ilfT1S3LN8ezhU07Mryg26b0Xd7WP8cF62AixhA/Catstooth-%20Halloween%20Houndstooth%20with%20Cats%20Mini-%20Purple%20and%20Black%20Geometric%20Cats-%20Cute%20Cat%20Fabric-%20Classic%20Modern%20Wallpaper-%20Small%20Pied%20de%20Poule%20Blender.jpg');

}

.wrapper{
    color: white;
    margin-top: 2vw;
    margin-left: 2vw;
    margin-right: 2vw;
}


.fila{
    width: 100%;
    margin-bottom: 10px;
}

.flex{
    display: flex;
}

.separado{
    justify-content: space-between;
}

.fila .tarjeta{
    height: 400px;
    width: 30%;
    border-radius: 15px;
    background-color: white;
    color: black;
    padding: 20px;
}

.tarjeta .img{
    width: 100%;
    height: 100px;
}

.btn{
    height: 40px;
    padding: 15px 40px;
    line-height: 40px;
    background-color: #893dd0;
}


footer{
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: space-around;
    width: 100vw;
    padding: 5px;
    background-color: #893dd0;
    
}

.footer__img{
    display: flex;
    margin-inline: 5px;
    width: 30px;
}