@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;100&family=Tilt+Warp&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Tilt+Warp&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: all 0.3 ease-in-out;
}


/*CONTENEDOR SCROLLBAR*/
::-webkit-scrollbar {
    height: 8px; /* scroll horizontal */
    width: 8px; /* scroll vertical */
    border-radius: 5px;
}

/* FONDO BARRA SCROLL*/
::-webkit-scrollbar-track {
    background: #f1f1f1;

}

/* SELECTOR */
::-webkit-scrollbar-thumb {
    background: rgba(164, 102, 236, 0.414);;
    border-radius: 5px;
}

/* SELECTOR hover */
::-webkit-scrollbar-thumb:hover {
    background: rgba(164, 102, 236, 0.693);;
}

/* ----- sizes ------ */

.med{
    font-size: 28pt!important;
}

.low{
    font-size: 14px;}


/* -----color------ */

.gristx{
    color: gray;
}


/* display */

.dflex{
    display: flex;
}

.centrar_h{
    justify-content: center;
}

.centrar_y{
    align-items: center;
}
.posrel{
    position: relative;
}
.posab{
    position: absolute;
}

.p20{
    padding: 20px;
}

.fdcol{
    flex-direction: column;
}
.g20{
    gap: 20px;
}
/*--------Tipografias------*/
.tilt{
	font-family: 'Tilt Warp', cursive;
}

.roboto{
	font-family: 'Roboto', sans-serif;
}

.fw100{
	font-weight: 100;
}
.fw700{
	font-weight: 700;
}


.portada{
    position: relative;
    height: 350px;
    background-color: blueviolet;
    background-image: url(../img/rest.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: white;
    padding: 7%;
    box-shadow: inset 0 0 304px black;
}

.welcome{
    position: absolute;
    bottom: 70px;
    line-height: 26pt;
}

.search{
    position: absolute;
    bottom: -30px;
    height: 60px;
    width: 86%;
    margin: auto;
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 20px 15px -10px rgba(0, 0, 0, 0.158);
    border-radius:10px;
    overflow: hidden;
}

.search .icon__search{
    height: 100%;
    width: 60px;
    background-color: rgba(137, 43, 226, 0.301);
    text-align: center;
    line-height: 60px;
    font-size: 26pt!important;
}

.search input[type="search"]{
    height: 100%;
    width: calc(100% - 120px);
    border: 0;
    font-size: 12pt;
    padding: 14pt;
    color: rgb(0, 0, 0);
}
    .search input[type="search"]:focus{
        outline: 0;
        
    }

    .search input[type="search"]::placeholder{
        border: 0;
        color: rgba(0, 0, 0, 0.178);
        
    }

    .search input[type="submit"]{
        height: 60px;
        width: 60px;
        background-color: transparent;
        border: 0;
        font-size: 26pt!important;
    }
    
    .search input[type="submit"]:active{
        box-shadow: inset 0 0 15px rgba(0,0,0,0.164);
        font-size: 22pt !important;
    }

.categorias, .cate{
    margin-top: 35px;
    height: 120px;
    display: flex;
    align-items: center;
}

.cate{
    font-size: 11pt;
}

.categorias ul, .cate ul{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
    gap: 10px;
    overflow-x: scroll;
}

.cate ul{
    overflow-x: hidden;
    justify-content: space-evenly;
}

.categorias ul li,.cate ul li{
    display: flex;
    flex-direction: column;
    text-align: center;
    color: gray;
    flex: 0 0 120px;
    gap: 5px;
    
}

.categorias ul li:hover, .cate ul li:hover{
    transform: scale(1.2);
    transition: 0.5s;
    color: black;
    
}

a{
    color:black;
    text-decoration: none;
}

.productos{
    /* background-color: aquamarine; */
    padding: 19px;
}

.list__rest{
    display: flex;
    padding: 10px;
    /* flex-direction: column; */
    gap: 20px;
    flex-wrap: wrap;
}


.rest{
    display: flex;
    flex: 0 0 49%;
    margin-top: 10px; 
    height:200px;
    /* background-color: wheat; */
    border-radius: 20px;
    width: 100%;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.253);
    
}

.rest:hover{
    transform: scale(1.03);
    transition: 0.5s;
    box-shadow: 0px 0px 20px #351110cb;

}

.rest .rest__img{

    height: 200px;
    width: 40%;
    overflow: hidden;
    /* background-image: url(../img/rest.jpg); */
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-end-start-radius: 15px;
    border-start-start-radius: 15px;
}

.rest img{
    object-fit: cover;
    /* height: 100%;
    width: 100%; */
    height: 210px;
    width: 100%;
    border-end-start-radius: 15px;
    border-start-start-radius: 15px;
}

.rest .rest__data{
    position: relative;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: 100%;
    width: 60%;
}

.rest__val{
    display: flex;
    justify-content: space-between;
    
}

.rest__rate .material-icons-outlined, .rest__price .material-icons-outlined{
    font-size: 10pt;
}

.rest .rest__texts{
    line-height: 25pt;
}

.rate{
    background-color: aquamarine;
    position: absolute;
    height: 60px;
    width: 60px;
    text-align: center;
    line-height: 60px;
    font-size: 18pt;
    right: 0;
    top: 0;
    top: -10px;
    right: -10px;
    border-start-start-radius: 15px;
    border-end-end-radius: 15px;
}

.rat{
    background-color: aquamarine;
    position: absolute;
    height: 60px;
    width: 60px;
    text-align: center;
    line-height: 60px;
    font-size: 18pt;
    right: 0;
    top: 320px;
    right: 10px;
    border-start-start-radius: 15px;
    border-end-end-radius: 15px;
}

.name{
    width: 90%;
    height: 100%;
    padding: 20px;
    line-height: 40px;
    
    margin: auto;
}

.info{
    width: 90%;
    height: 100%;
    padding: 20px;    
    margin: auto;
}

footer{
    position: fixed;
    bottom: 0;
    background-color: white;
    width: 100%;
    padding: 10px;
    text-transform: uppercase;
}

footer ul{
    display: flex;
    list-style: none;
    justify-content: space-evenly;
}

footer ul li{
    width: 100%;
    text-align: center;
}

footer ul li:hover{
    border-top: solid 4px aquamarine;
}



footer a{
    color:gray
}



footer a:hover{
    color:black
}

footer .active{
    
    border-top: solid 4px aquamarine;
    color: black;
    font-weight: 700;
    
}


header button{
    left: 20px;
    border: 0;
    background-color: white;
    cursor: pointer;
}

.item__carta{
    /* background-color: aquamarine; */
    height: 140px;
    width: 100%;
    gap: 15px;
    margin-top: 20px;
    border-radius: 15px;
    
}

.img__plato{
    height: 100px;
    width: 100px;
    background-color: blueviolet;
    border-radius: 50%;
}

.img__plato img{
    height: 100px;
    width: 100px;
    border-radius: 50%;
    object-fit: cover;
}

.precio{
    right: -15px;
    bottom: 0;
    padding: 5px;
    background-color: aquamarine;
    border-radius: 50%;
}

.txt__plato{
    gap: 20px;

}

.sombra{
    box-shadow: 0 0 15px -2px rgba(0, 0, 0, 0.301);
    /* box-shadow: ejex ejey blur disantaS_E color*/
}

.mgbot{
    margin-bottom: 50px;
}

header img{
    width: 100%;
}

.item__carta2{
    height: 45vh;
    width: 100%;
    overflow: hidden;


}
.titulo__precio{
    bottom: 15px;
    width: 90%;
    left: 5%;
    display: flex;
    justify-content: space-between;
}

.precio{
    width: 100px;
    height: 40px;
    border-radius: 0 15px;
    text-align: center;
    line-height: 30px;
}

.vh100{
    height: 100vh;
}

.sp{
    justify-content: space-between;
}
main{
   
    height: 65vh;
    padding: 20px;
    
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.btn button{
    
    width: 60px;
    height: 60px;
    border: 0;
    font-size: 30px;
    background-color: aquamarine;
}

.btn input{
    width: 60px;
    height: 60px;
    border: 0;
    font-size: 30px;
    background-color: aquamarine;
}
.btn .enviar{

    width: 60px;
    height: 60px;
    border: 0;
    width: 50%;
    background-color: aquamarine;
}